.panel-sliding {
  .h-full;
  z-index: 998;
  position: fixed;
  left: -@slidingPanelWidth;
  transition: left 1s;
  &:hover {
    left: 0;
  }

  .sliding-title {
    .h-full;
    padding: 5px;
    background-color: @currentAppColor;
    border-radius: 0 5px 0 0;
    color: @white;
    .pull-left;
  }
  .sliding-body {
    .h-full;
    .pull-left;
    width: @slidingPanelWidth;
    border: 2px solid @currentAppColor;
    background-color: @white;
  }
}

.fa-1_5x {
  font-size: 1.5em !important;
}