<div class="panel-sliding">
    <div class="sliding-body">
        <uib-tabset active="active">
            <uib-tab index="0" heading="Reports">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width: 25%">Date created</th>
                        <th style="width: 25%"></th>
                        <th style="width: 40%">Type</th>
                        <th style="width: 10%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="report in reports | orderBy: 'dateCreated'">
                        <td>{{report.dateCreated | date:"dd/MM/yyyy"}}</td>
                        <td>{{report.dateCreated | date:"HH:mm"}}</td>
                        <td><a class="btn btn-link" ng-click="goToReport(report)">{{report.object.name}}</a></td>
                        <td>
                            <button type="button" class="btn btn-link" ng-click="removeReport(report.id)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="sliding-title">
        <i class="fa fa-cog fa-1_5x" aria-hidden="true"></i>
    </div>
</div>