<div class="container w-xxl w-auto-xs">
    <div class="m-b-lg m-t-xxl">
        <div class="wrapper text-center">
            <img class="w" src="/assets_web/img/logo.png"/>
        </div>
        <div class="wrapper text-center">
            <strong ng-show="isConfirmation()">Email confirmed. Please log in.</strong>
            <strong ng-show="isNewPasswordLogin()">Password changed. Login using new password.</strong>
        </div>
        <div class="form-group">
            <form name="form" class="form-validation">
                <div class="text-danger wrapper text-center" ng-show="authError">
                    {{authError}}
                </div>
                <div class="list-group list-group-sm">
                    <div class="list-group-item no-border">
                        <input type="text" placeholder="Username" class="form-control padder-v-md" ng-model="credentials.login" required>
                    </div>
                    <div class="list-group-item no-border">
                        <input type="password" placeholder="Password" class="form-control padder-v-md" ng-model="credentials.password" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid'>Log in<i ng-if="showLoader" class="fa fa-spin fa-spinner m-l-xs m-r-n-sm"></i></button>
                <div class="text-center m-t m-b"><a ui-sref="signPwd">Forgot password?</a></div>
                <div class="line line-dashed"></div>
                <p class="text-center"><small>Do not have an account?</small></p>
                <a ui-sref="signUp" class="btn btn-lg btn-default btn-block">Create an account</a>
            </form>
        </div>
    </div>
</div>