#particles-js {
  width: 100%;
  height: 100%;
  background-color: #779C11;
}

nav.navbar.navbar-transparent {
  background-color: transparent;
}

nav.navbar.navbar-shrink {
  min-height: 35px;
  background-color: #273140;
}

nav.navbar.navbar-animation {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.c-white {
  color: white;
  opacity: 0.7;
}

.c-white:focus {
  background-color: transparent;
  color: white;
}

#free {
  background-color: #779c11;
  color: white;
}

.btn-app {
  .button-variant(white, @greenColor, white);
  .b-2x;
  border-radius: 3px;
}

.h-xxs{
  height: 50px;
}

.p-t-10 {
  padding-top: 10px;
}

section {
  background-color: @white;
}

.xxx {
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  width: 400px;
  border-radius: 25px;
  font-size: 45px;
  font-weight: 300;
}

