<nav class="navbar navbar-default navbar-fixed-top navbar-animation"
     ng-class="shrink ? 'navbar-shrink' : 'navbar-transparent wrapper' "
     role="navigation">
    <div class="container">
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#" class="c-white" ui-sref="signIn">Login</a></li>
        </ul>
    </div>
</nav>

<!--particles.js container -->
<header id="header">
    <div id="particles-js">
        <div class="xxx">
            <img class="w" src="/assets_web/img/logo.png"/>
            <span class="app-color">Geo</span>lab

        </div>
        <!--<div class="container">-->
        <!--<div class="row">-->
        <!--<div class="col-md-12 text-center">-->
        <!--Gravlab-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="intro-text">-->
        <!--<h1 class="intro-lead-in">Bootstrap Themes</h1>-->
        <!--<span class="intro-heading">Join to over 15.000 Satisfied Customers.</span><br><br>-->
        <!--</div>-->
    </div>
    </div>
</header>
<section id="">
    <div class="container wrapper-xl">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>We are GeoLAB</h2>

                <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                    embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to
                    repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>

            </div>
        </div>
        <div class="row m-t-xxl m-b-xxl">
            <div class="col-md-4">
                <div>
                    <i class="fa fa-heart-o fa-4x pull-left" aria-hidden="true"></i>
                    <h3 class="h-xxs p-t-10">Creative ideas</h3>
                </div>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout.</p>
            </div>
            <div class="col-md-4">
                <div>
                    <i class="fa fa-area-chart fa-4x pull-left" aria-hidden="true"></i>
                    <h3 class="h-xxs p-t-10">Excellent features</h3>
                </div>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout.</p>
            </div>
            <div class="col-md-4">
                <div>
                    <i class="fa fa-cog fa-4x pull-left" aria-hidden="true"></i>
                    <h3 class="h-xxs p-t-10">Fully responsive</h3>
                </div>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.</p>
            </div>
        </div>
    </div>
</section>

<section id="free">
    <div class="container wrapper-xl">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="m-b-md">Free Version</h1>

                <p class="l-h-2x m-t-md">
                    <stron>Are you working on non-commercial project?</stron>
                    GenesisUI is free for all non-commercial purposes, including
                    evaluations, education, research, and personal projects. The non-commercial version of GenesisUI is
                    fully functional but doesn't contain SCSS, Grunt & Bower files.
                </p>
                <a class="btn btn-app w-sm m-t-md" ui-sref="app.geolab.gravimetry">Let it try</a>

            </div>
        </div>
    </div>
</section>

<section id="video">
    <div class="container wrapper-xl">
        <div class="row">
            <div class="col-md-6 text-center">

            </div>
            <div class="col-md-6">
                <h1> Watch about us </h1>

                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even slightly
                    believable.
                </p>

                <p>
                    If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                    embarrassing
                    hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat
                    predefined
                    chunks as necessary, making this the first true generator on the Internet.
                </p>
            </div>
        </div>
    </div>
</section>
