<div>
    <div class="modal-header no-border">
        <h4 class="modal-title">Tablica kalibracyjna grawimetru <strong>{{gravimeterTable.name}}</strong>
            <span class="pull-right pointer" ng-click="$dismiss()"><strong><i class="fa fa-remove"></i></strong></span></h4>
    </div>

    <div class="modal-body">
        <table class="table">
            <tr ng-repeat="row in calibrationTable">
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
            </tr>
        </table>

        <div class="row">
            <!--<button class="btn btn-primary m-t-md col-md-6" type="button" ng-click="$close()"><strong>OK</strong></button>-->
            <button class="btn btn-dark m-t-md col-md-6" type="button" ng-click="$dismiss()"><strong>Zakończ</strong></button>
        </div>
    </div>
</div>