<div class="container">
    <uib-tabset type="pills">
        <uib-tab active="true" heading="App" ui-sref="app.settings.app"></uib-tab>
        <uib-tab heading="Gravimetry" ui-sref="app.settings.gravimetry"></uib-tab>
    </uib-tabset>

    <div class="m-t-md" ui-view="settings"></div>
</div>