<!--<div class="panel-sliding">-->
    <!--<div class="sliding-body">-->
        <!--<uib-tabset active="active">-->
            <!--<uib-tab index="0" heading="Reports"></uib-tab>-->
        <!--</uib-tabset>-->
    <!--</div>-->
    <!--<div class="sliding-title">-->
        <!--<i class="fa fa-cog fa-1_5x" aria-hidden="true"></i>-->
    <!--</div>-->
<!--</div>-->




<div class="container">
    <uib-tabset>
        <uib-tab heading="Gravimetry" ui-sref="app.geolab.gravimetry">
            <uib-tabset type="pills">
                <uib-tab active="false" heading="Reports" ui-sref="app.geolab.gravimetry.report"></uib-tab>
                <uib-tab heading="Luni" ui-sref="app.geolab.gravimetry.luni"></uib-tab>
            </uib-tabset>
        </uib-tab>
    </uib-tabset>

        <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div ui-view="ribbon"></div>
            </div>
        </div>
        <div ui-view="geolab"></div>

    </div>

</div>


