.ribbon {
  .m-t-xs;
  .ribbon-panel {
    display: inline-block;
    .ribbon-body {
      &:not(:last-child) {
        min-height: 100px;
        padding-right: 15px;
        .b-r;
      }
    }

    .ribbon-footer {
      font-weight: 300;
      font-size: 12px;
      text-align: center;
    }
  }
}