<div class="col-md-6">
    <div class="form-group">
        <label for="selectGradient" class="correction">Gradient</label>
        <select class="form-control correction" id="selectGradient"
                ng-model="corrections.gradient">
            <option value="{{CORRECTIONS_OPTIONS.GRADIENT.NONE}}">Brak</option>
            <option value="{{CORRECTIONS_OPTIONS.GRADIENT.STANDARD}}">Standard</option>
        </select>
    </div>

    <div class="form-group">
        <label for="selectLuni" class="correction">Luni</label>
        <select class="form-control correction" id="selectLuni" ng-model="corrections.luni">
            <option value="{{CORRECTIONS_OPTIONS.LUNI.NONE}}">Brak</option>
            <option value="{{CORRECTIONS_OPTIONS.LUNI.LONGMAN}}">Longman</option>
            <option value="{{CORRECTIONS_OPTIONS.LUNI.WENZEL}}">Wenzel</option>
        </select>
    </div>

    <div class="form-group">
        <label for="selectPressure" class="correction">Ciśnienie</label>
        <select class="form-control correction" id="selectPressure"
                ng-model="corrections.pressure">
            <option value="{{CORRECTIONS_OPTIONS.PRESSURE.NONE}}">Brak</option>
            <option value="{{CORRECTIONS_OPTIONS.PRESSURE.STANDARD}}">Standardowe</option>
        </select>
    </div>

    <div class="form-group">
        <label for="selectDryft" class="correction">Dryft</label>
        <select class="form-control correction" id="selectDryft"
                ng-model="corrections.dryft">
            <option value="{{CORRECTIONS_OPTIONS.DRIFT.NONE}}">Brak</option>
            <option value="{{CORRECTIONS_OPTIONS.DRIFT.LINIOWY}}">Liniowy</option>
            <option value="{{CORRECTIONS_OPTIONS.DRIFT.LINIOWY_WAZONY}}">Liniowy-ważony</option>
        </select>
    </div>
</div>