<nav class="navbar navbar-default navbar-app">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header text-2x font-300">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <img class="w-xxs" src="/assets_web/img/logo.png" alt=".">
            <span class="app-color">Geo</span>lab

            <a class="navbar-brand" href="#">
                <!--<i class="fa fa-globe fa-3x app-color" aria-hidden="true"></i>-->
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ui-sref="app.home" ui-sref-active="active">Home</a></li>
                <li><a href="#" ui-sref="app.settings.app" ui-sref-active="active">Settings</a></li>
                <li><a href="#" ng-click="logout()">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
