<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Change password</div>
            <div class="panel-body">
                <form novalidate ng-submit="changePassword(userData)">
                    <div class="form-group">
                        <label for="actualPassword">Actual password</label>
                        <input type="password" class="form-control" ng-model="userData.oldPass" id="actualPassword"
                               aria-describedby="actualPasswordHelp" placeholder="Acual password">
                        <small id="actualPasswordHelp" class="form-text text-muted">We'll never share your email
                            with anyone else.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New password</label>
                        <input type="password" class="form-control" id="newPassword" ng-model="userData.newPass"
                               aria-describedby="newPasswordHelp" placeholder="New password">
                        <small id="newPasswordHelp" class="form-text text-muted">We'll never share your email with
                            anyone else.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="repeatNewPassword">Repeat new password</label>
                        <input type="text" class="form-control" id="repeatNewPassword"
                               aria-describedby="repeatNewPasswordHelp" placeholder="Repeat new password">
                        <small id="repeatNewPasswordHelp" class="form-text text-muted">We'll never share your email
                            with anyone else.
                        </small>
                    </div>

                    <button type="submit" class="btn btn-primary">Chnge</button>
                </form>
            </div>
        </div>
    </div>
</div>