<div class="container w-xxl w-auto-xs">
    <div class="m-b-lg m-t-xxl">
        <div class="wrapper text-center">
            <img src="/assets_web/img/logo.png"/>
        </div>
        <div class="wrapper text-center">
            <strong>Sign up to find interesting thing</strong>
        </div>
        <div class="form-group">
            <form name="signUpForm" class="form-validation">
                <div class="text-success wrapper text-center" ng-show="registerSuccess">
                    Please check your email to finish registration process.
                </div>
                <div class="text-danger wrapper text-center" ng-show="authError">
                    {{authError}}
                </div>
                <div class="list-group list-group-sm">
                    <div class="list-group-item">
                        <input placeholder="Name" class="form-control no-border" ng-model="user.username" required>
                    </div>
                    <div class="list-group-item">
                        <input type="email" placeholder="Email" class="form-control no-border" ng-model="user.email" required>
                    </div>
                    <div class="list-group-item">
                        <input type="password" placeholder="Password" class="form-control no-border" ng-model="user.password" ng-minlength="8" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="signUp()" ng-disabled='signUpForm.$invalid'>Sign up<i ng-if="showLoader" class="fa fa-spin fa-spinner m-l-xs m-r-n-sm"></i></button>
                <div class="line line-dashed"></div>
                <p class="text-center"><small>Already have an account?</small></p>
                <a ui-sref="signIn" class="btn btn-lg btn-default btn-block">Sign in</a>
            </form>
        </div>
    </div>
</div>