<div class="row">
    <div class="col-md-12">
        <div class="ribbon">
            <div class="ribbon-panel">
                <div class="ribbon-body">
                    <div>
                        <table>
                            <tr>
                                <td>
                                    <div class="input-group w">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="dateTime"
                                               is-open="isOpen"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open()">
                                                <i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div uib-timepicker ng-model="dateTime" minute-step="5" show-meridian="false"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="ribbon-footer">Date&Time</div>
            </div>
            <div class="ribbon-panel">
                <div class="ribbon-body">
                    <div>
                        <div class="form-group">
                            <label for="luniB" class="m-r-sm">&phi;</label>
                            <input type="number" id="luniB" class="form-control pull-right correction"
                                   ng-model="position.longitude"/>
                        </div>
                        <div class="form-group">
                            <label for="luniL" class="m-r-sm">&lambda;</label>
                            <input type="number" id="luniL" class="form-control pull-right correction"
                                   ng-model="position.latitude"/>
                        </div>
                        <div class="form-group">
                            <label for="luniH" class="m-r-sm">H</label>
                            <input type="number" id="luniH" class="form-control pull-right correction"
                                   ng-model="position.altitude"/>
                        </div>
                    </div>
                </div>
                <div class="ribbon-footer">Location</div>
            </div>
            <div class="ribbon-panel">
                <div class="ribbon-body">
                    <div class="form-group">
                        <label for="selectLuni" class="correction">Luni</label>
                        <select class="form-control correction" id="selectLuni" ng-model="luniCorrection">
                            <option value="{{LUNI_CORRECTIONS.LONGMAN}}">Longman</option>
                            <option value="{{LUNI_CORRECTIONS.WENZEL}}">Wenzel</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="luniInterval" class="m-r-sm">Interval</label>
                        <input type="text" id="luniInterval" class="form-control pull-right correction"
                               ng-model="interval"/>
                    </div>
                </div>
                <div class="ribbon-footer">Ustawienia</div>
            </div>
            <div class="ribbon-panel">
                <div class="ribbon-body">
                    <!-- signal -->
                    <button type="button" class="btn btn-link" ng-click="getLuni(dateTime, position, interval, luniCorrection)">
                        <i class="fa fa-signal fa-4x" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="ribbon-footer">Akcion</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div  ng-show="report"  class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th style="width:20%">Date</th>
                <th style="width:20%">Time</th>
                <th style="width:20%">Value</th>
            </tr>
            <tr ng-repeat="observation in report">
                <td>{{observation.date | date:"dd MM yyyy"}}</td>
                <td>{{observation.date | date:"HH:mm:ss"}}</td>
                <td>{{observation.value | number: 5}}</td>
            </tr>
        </table>

        <button type="button" ng-click="saveLuni(dateTime, position, interval, luniCorrection)" class="btn btn-app pull-right m-b">
            <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
            <div class="pull-right m-l m-t-xs"> save report</div>
        </button>
    </div>
</div>