<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3 class="app-title">Dodaj nowy projekt</h3>
            <form>
                <div class="form-group">
                    <label for="name">Nazwa</label>
                    <input type="text" class="form-control" id="name" ng-model="project.title">
                </div>
                <div class="form-group">
                    <label for="localization">Lokalizacja</label>
                    <input type="text" class="form-control" id="localization" ng-model="project.localization">
                </div>
                <div class="form-group">
                    <label for="description">Opis</label>
                    <textarea class="form-control" rows="5" id="description" ng-model="project.description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary pull-right m-t" ng-click="addProject(project)">Dodaj
                </button>
            </form>
        </div>
        <div class="col-md-8">
            <h3 class="app-title">Lista projektów</h3>
            <table class="table table-striped table-bordered table-grav">
                <tr style="font-weight: bold">
                    <td style="width:10%">Nazwa</td>
                    <td style="width:15%">Lokalizacja</td>
                    <td style="width:20%">Data</td>
                    <td style="width:41%">Opis</td>
                    <td style="width:14%"></td>
                </tr>
                <tr ng-repeat="project in projects | orderBy: 'id'">
                    <td>
                        <div class="padder-app" editable-text="project.title" e-name="title" e-form="rowform">
                            <a ui-sref="app.geolab({projectId: project.id})">{{ project.title }}</a>
                        </div>
                    </td>
                    <td>
                        <div class="padder-app" editable-text="project.localization" e-name="localization"
                             e-form="rowform">
                            <a ui-sref="app.geolab({projectId: project.id})"> {{ project.localization }}</a>
                        </div>
                    </td>
                    <td>
                        <div class="padder-app" editable-bsdate="project.dateCreated" e-name="dateCreated"
                             e-is-open="opened[$index]"
                             e-ng-click="open($event, $index)" e-form="rowform" e-datepicker-popup="dd/MM/yyyy">
                            <a ui-sref="app.geolab({projectId: project.id})">  {{ project.dateCreated | date:"dd/MM/yyyy" }}</a>
                        </div>
                    </td>
                    <td data-toggle="tooltip" title="{{project.description}}">
                        <div class="padder-app ellipsis-2-lines" editable-text="project.description" e-name="description"
                             e-form="rowform">
                            <a ui-sref="app.geolab({projectId: project.id})"> {{ project.description }}</a>
                        </div>
                    </td>
                    <td class="text-center v-middle">
                        <!-- form -->
                        <form editable-form name="rowform" onbeforesave="saveProject(project.id, $data)"
                              ng-show="rowform.$visible" class="form-buttons form-inline">
                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                <i class="fa fa-floppy-o fa-1x" aria-hidden="true"></i>
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                    class="btn btn-link">
                                <i class="fa fa-undo fa-1x" aria-hidden="true"></i>
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button type="button" class="btn btn-primary" ng-click="rowform.$show()">
                                <i class="fa fa-file-text-o fa-1x" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-link" ng-click="removeProject($index)">
                                <i class="fa fa-times fa-1x" aria-hidden="true"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>