<div class="row">
    <div class="col-md-12">
        <form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">
            <div class="ribbon">
                <div class="ribbon-panel">
                    <div class="ribbon-body">
                        <div>
                            <!-- open -->
                            <label for="file-upload-calibration" class="btn btn-link custom-file-upload">
                                <i class="fa fa-folder-open-o fa-4x"></i>
                            </label>
                            <input id="file-upload-calibration" type="file" open-file data="calibration"/>

                            <!-- preview -->
                            <button type="button" class="btn btn-link" ng-click="showModal(calibration.table)">
                                <i class="fa fa-file-o fa-4x" aria-hidden="true"></i>
                            </button>

                            <div class="pull-right">
                                <div class="form-group">
                                    <label for="instrument" class="correction">Instrument</label>
                                    <strong id="instrument">{{calibration.name}}</strong>
                                </div>

                                <div class="form-group">
                                    <label for="gravConstans" class="correction">Stała</label>
                                    <input type="number" id="gravConstans" class="form-control pull-right correction"
                                           ng-model="calibration.constant"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ribbon-footer">Instrument</div>
                </div>

                <div class="ribbon-panel">
                    <div class="ribbon-body">
                        <div>
                            <div class="form-group">
                                <label for="selectGradient" class="correction">Gradient</label>
                                <select class="form-control correction" id="selectGradient"
                                        ng-model="corrections.gradient">
                                    <option value="{{CORRECTIONS_OPTIONS.GRADIENT.NONE}}">Brak</option>
                                    <option value="{{CORRECTIONS_OPTIONS.GRADIENT.STANDARD}}">Standard</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="selectLuni" class="correction">Luni</label>
                                <select class="form-control correction" id="selectLuni" ng-model="corrections.luni">
                                    <option value="{{CORRECTIONS_OPTIONS.LUNI.NONE}}">Brak</option>
                                    <option value="{{CORRECTIONS_OPTIONS.LUNI.LONGMAN}}">Longman</option>
                                    <option value="{{CORRECTIONS_OPTIONS.LUNI.WENZEL}}">Wenzel</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="selectPressure" class="correction">Ciśnienie</label>
                                <select class="form-control correction" id="selectPressure"
                                        ng-model="corrections.pressure">
                                    <option value="{{CORRECTIONS_OPTIONS.PRESSURE.NONE}}">Brak</option>
                                    <option value="{{CORRECTIONS_OPTIONS.PRESSURE.STANDARD}}">Standardowe</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="ribbon-footer">Poprawki</div>
                </div>

                <div class="ribbon-panel">
                    <div class="ribbon-body">
                        <div>
                            <div class="radio">
                                <label><input type="radio" name="driftRadio"
                                              value="{{CORRECTIONS_OPTIONS.DRIFT.NONE}}"
                                              ng-model="corrections.drift">Brak</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="driftRadio"
                                              value="{{CORRECTIONS_OPTIONS.DRIFT.LINIOWY}}"
                                              ng-model="corrections.drift">Liniowy</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="driftRadio"
                                              value="{{CORRECTIONS_OPTIONS.DRIFT.LINIOWY_WAZONY}}"
                                              ng-model="corrections.drift">Liniowy-ważony</label>
                            </div>
                        </div>
                    </div>
                    <div class="ribbon-footer">Dryft</div>
                </div>

                <div class="ribbon-panel">
                    <div class="ribbon-body">
                        <!-- open -->
                        <button type="button" class="btn btn-link" ng-show="!tableform.$visible">
                            <label for="file-upload-report" class="custom-file-upload no-padder">
                                <i class="fa fa-folder-open-o fa-4x"></i>
                            </label>
                            <input id="file-upload-report" type="file" open-file data="report"/>
                        </button>

                        <!-- edit -->
                        <button type="button" class="btn btn-link" ng-show="!tableform.$visible"
                                ng-click="tableform.$show()" ng-disabled="!report.observations">
                            <i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i>
                        </button>
                        <!-- signal -->
                        <button type="button" class="btn btn-link" ng-show="!tableform.$visible"
                                ng-click="getReport()" ng-disabled="!report.observations">
                            <i class="fa fa-signal fa-4x" aria-hidden="true"></i>
                        </button>
                        <!-- save -->
                        <button type="submit" ng-show="tableform.$visible" ng-disabled="tableform.$waiting"
                                class="btn btn-link">
                            <i class="fa fa-floppy-o fa-4x" aria-hidden="true"></i>
                        </button>
                        <!-- cancel -->
                        <button type="button" ng-show="tableform.$visible" ng-disabled="tableform.$waiting"
                                ng-click="tableform.$cancel()"
                                class="btn btn-link">
                            <i class="fa fa-undo fa-4x" aria-hidden="true"></i>
                        </button>
                        <!-- add row -->
                        <button type="button" ng-show="tableform.$visible" ng-disabled="tableform.$waiting"
                                ng-click="addObservation()"
                                class="btn btn-link pull-right">
                            <i class="fa fa-arrow-down fa-4x" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="ribbon-footer">Obliczenia</div>
                </div>

                <!--<div class="ribbon-panel">-->
                <!--<div class="ribbon-body">container 1</div>-->
                <!--<div class="ribbon-footer">Raport</div>-->
                <!--</div>-->
            </div>
            <!-- table -->
            <table ng-show="report.observations"
                   class="table table-striped table-bordered table-hover table-grav m-t-md">
                <thead>
                <tr>
                    <th style="width:10%">Punkt</th>
                    <th style="width:10%">Latitude</th>
                    <th style="width:10%">Longitude</th>
                    <th style="width:10%">Height</th>
                    <th style="width:15%">Data</th>
                    <th style="width:5%">Czas</th>
                    <th style="width:10%">Odczyt</th>
                    <th style="width:10%">Wys. instru.</th>
                    <th style="width:10%">Gradient</th>
                    <th style="width:10%">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="observation in report.observations | orderBy: ['date', 'time']">
                    <td>
                        <div editable-text="observation.name" e-name="name" e-form="tableform">
                            {{observation.name}}
                        </div>
                    </td>
                    <td>
                        <div editable-text="observation.latitude" e-name="latitude"
                             e-form="tableform" onbeforesave="commaToDot($data)">{{observation.latitude}}
                        </div>
                    </td>
                    <td>
                        <div editable-text="observation.longitude" e-name="longitude" e-form="tableform"
                             onbeforesave="commaToDot($data)">
                            {{observation.longitude}}
                        </div>
                    </td>
                    <td>
                        <div editable-text="observation.height" e-name="height" e-form="tableform"
                             onbeforesave="commaToDot($data)">
                            {{observation.height}}
                        </div>
                    </td>
                    <td>
                        <div editable-bsdate="observation.date" e-name="date" e-is-open="opened[$index]"
                             e-ng-click="open($event, $index)" e-form="tableform" e-datepicker-popup="dd/MM/yyyy">
                            {{observation.date | date:"dd/MM/yyyy"}}
                        </div>
                    </td>
                    <td>
                        <div editable-bstime="observation.time" e-name="time" e-show-meridian="false"
                             e-show-spinners="false" e-form="tableform">
                            {{observation.time | date:"HH:mm"}}
                        </div>
                    </td>
                    <td>
                        <div editable-text="observation.value" e-name="value" e-form="tableform"
                             onbeforesave="commaToDot($data)">
                            {{observation.value}}
                        </div>
                    </td>
                    <td>
                        <div editable-text="observation.instrumentHeight" e-name="instrumentHeight"
                             e-form="tableform" onbeforesave="commaToDot($data)">{{observation.instrumentHeight}}
                        </div>
                    </td>
                    <td>
                        <div editable-text="observation.gradient" e-name="gradient"
                             e-form="tableform" onbeforesave="commaToDot($data)">{{observation.gradient}}
                        </div>
                    </td>
                    <td>
                        <!-- remove row -->
                        <button type="button" ng-disabled="tableform.$waiting"
                                ng-click="removeObservation($index)"
                                class="btn btn-link pull-right">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- add row -->
            <button type="button" ng-disabled="tableform.$waiting" ng-click="addObservation()"
                    class="btn btn-link pull-right">add row
                <i class="fa fa-arrow-down" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</div>

<div ng-show="report.observations[0].gRef" class="row">
    <h4 class="m-l">Wprowadzone poprawki</h4>
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th style="width:5%">Punkt</th>
                <th style="width:20%">g</th>
                <th style="width:20%">Gradient</th>
                <th style="width:20%">Luni</th>
                <th style="width:20%">g ref</th>
            </tr>
            <tr ng-repeat="observation in report.observations">
                <td>{{observation.name}}</td>
                <td>{{observation.g | number: 4}}</td>
                <td>{{observation.poprawkaGradient | number: 4}}</td>
                <td>{{observation.poprawkaLuni | number: 4}}</td>
                <td>{{observation.gRef | number: 4}}</td>
            </tr>
        </table>
    </div>

    <div ng-repeat="dryft in report.dryfts">
        <h4 class="m-l">Dryft</h4>
        <h4 class="m-l">Wartość dryftu: <strong>{{dryft.dryft | number: 4}} mgl/h</strong></h4>
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th style="width:5%">Punkt</th>
                    <th style="width:20%">g ref</th>
                    <th style="width:20%">dryft</th>
                    <th style="width:20%">g ref popra</th>
                    <th style="width:20%">delta g</th>
                </tr>
                <tr ng-repeat="observation in dryft.observations">
                    <td>{{observation.name}}</td>
                    <td>{{observation.gRef | number: 4}}</td>
                    <td>{{observation.dryft | number: 4}}</td>
                    <td>{{observation.gRefPopra | number: 4}}</td>
                    <td>{{observation.deltaG | number: 4}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-show="report.deltaG">
        <h4 class="m-l">Wyniki</h4>
        <h4 class="m-l">Różnica przyspieszeń wynosi: <strong>{{report.deltaG | number: 4}} mGal</strong></h4>
    </div>

    <button type="button" ng-click="saveReport()" class="btn btn-app pull-right m-b">
        <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
        <div class="pull-right m-l m-t-xs"> save report</div>
    </button>

</div>

<div class="row">

</div>