input[type="file"] {
  display: none;
}

.custom-file-upload {
  //border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  //cursor: pointer;
}

.table-grav {
  margin-bottom: 0;
  tbody tr td {
    padding: 0;
    .editable-wrap {
      display: block;
      .editable-controls {
        height: 0;
        .well {
          padding: 0;
          background-color: transparent;
          border-width: 0;
        }
      }
    }
    //vertical-align: middle;
    //    input {
    //      width: 120px;
    //      padding: 0;
    //      background-color: transparent;
    //    }
    //    span {
    //      width: 100%;
    //    }
  }
}

.ribbon {
  .m-t-xs;
  .ribbon-panel {
    display: inline-block;
    .ribbon-body:not(:last-child) {
      .b-r;
    }
    .ribbon-footer {
      font-weight: 300;
      font-size: 12px;
      text-align: center;

    }
  }
}

.form-group {
  margin-bottom: 1px;
  label.correction {
    width: 90px;

  }
  select.correction {
    width: 120px;
    height: 25px;
    padding: 1px 12px;
    float: right;
  }
  input.correction {
    width: 90px;
    height: 25px;
  }
  input.form-control {
    //width: 100px;
  }

}

//.w-20 {
//  width: 20px;
//}
//
//.w-120 {
//  width: 120px;
//}
//
//.w-90 {
//  width: 90px;
//}