<div class="container w-xxl w-auto-xs">
    <div class="m-b-lg m-t-xxl">
        <div class="wrapper text-center">
            <img src="/assets_web/img/logo.png"/>
        </div>
        <div class="wrapper text-center">
            <strong ng-hide="newPassState">Input your email to reset password</strong>
            <strong ng-show="newPassState">Set new password</strong>
        </div>
        <div class="wrapper text-center">
            <strong class="text-success" ng-if="emailSentSuccessfully">A reset link sent to your email address, please check it.</strong>
            <strong class="text-danger" ng-if="authError">{{authError}}</strong>
        </div>
        <div class="form-group" ng-show="!newPassState">
            <form name="resetForm" >
                <div class="list-group list-group-sm">
                    <div class="list-group-item">
                        <input type="email" placeholder="Email" ng-model="user.username" class="form-control no-border" required>
                    </div>
                </div>
                <button type="submit" ng-disabled="reset.$invalid" ng-click="resetPassword()" class="btn btn-lg btn-primary btn-block">Send<i ng-if="showLoader" class="fa fa-spin fa-spinner m-l-xs m-r-n-sm"></i></button>
            </form>
        </div>
        <div class="form-group" ng-if="newPassState">
            <form name="newPassForm">
                <div class="list-group list-group-sm">
                    <div class="list-group-item">
                        <input type="text" placeholder="Username" class="form-control no-border" ng-model="user.username" required>
                    </div>
                    <div class="list-group-item">
                        <input type="password" placeholder="New password" class="form-control no-border" ng-model="user.password" ng-minlength="8" required>
                    </div>
                </div>
                <button type="submit" ng-disabled="reset.$invalid" ng-click="setNewPassword()" class="btn btn-lg btn-primary btn-block">Set password<i ng-if="showLoader" class="fa fa-spin fa-spinner m-l-xs m-r-n-sm"></i></button>
            </form>
        </div>
        <a ui-sref="signIn" class="btn btn-lg btn-default btn-block m-t-xs">Sign in</a>
    </div>
</div>