<!DOCTYPE html>
<html ng-app="geolab" ng-controller="AppCtrl">
    <head>
        <title ng-bind="pageTitle"></title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link rel="shortcut icon" href="/assets_web/img/favicon.png" />

        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=4">

        <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="/<%= file %>" /><% }); %>
        <link ng-href="/assets_web/fonts/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet">

        <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="/<%= file %>"></script><% }); %>
  </head>

  <body>
    <div ui-view class="h-full"></div>
    <toaster-container toaster-options="{'close-button': true, 'position-class': 'toast-top-right'}"></toaster-container>
  </body>
</html>
